html, body {
    overflow-x: hidden;
}

.bi-stopwatch-fill{
    color: gold;
}

.navbar-toggler-icon {
    width: .9rem;
    height: .9rem;
}

.h4, .bi-moon-fill {
    color: white;
}

.footer {
    background-color: #6c757d;
}

.checkbox {
    width: 25px;
    height: 25px;
}